accelerate==0.18.0
aiofiles==23.1.0
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
carvekit-colab==4.1.0
certifi @ file:///croot/certifi_1683875369620/work/certifi
charset-normalizer==3.1.0
clean-fid==0.1.35
click==8.1.3
cmake==3.26.4
contourpy==1.1.0
cycler==0.11.0
diffusers==0.14.0
docker-pycreds==0.4.0
exceptiongroup==1.1.2
fastapi==0.100.0
filelock==3.12.2
fonttools==4.40.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
h2 @ file:///home/builder/ci_310/h2_1640790753338/work
hpack==4.0.0
httpcore @ file:///tmp/build/80754af9/httpcore_1611864842287/work
httpx @ file:///tmp/build/80754af9/httpx_1615909316594/work
huggingface-hub==0.15.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.7.0
Jinja2==3.1.2
kiwisolver==1.4.4
lit==16.0.6
loguru==0.7.0
lpips==0.1.4
MarkupSafe==2.1.3
matplotlib==3.7.1
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.1
numpy @ file:///croot/numpy_and_numpy_base_1687466208449/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.7.0.72
packaging==23.1
pathtools==0.1.2
Pillow==9.5.0
protobuf==4.23.3
psutil==5.9.5
pydantic==2.0.3
pydantic_core==2.3.0
pyparsing==3.1.0
pyre-extensions==0.0.29
python-dateutil==2.8.2
python-multipart==0.0.6
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
rfc3986 @ file:///Users/ktietz/demo/mc3/conda-bld/rfc3986_1629478296451/work
scipy==1.10.1
sentry-sdk==1.25.1
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio @ file:///home/builder/ci_310/sniffio_1640794799774/work
starlette==0.27.0
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
torch-fidelity==0.3.0
torchmetrics==0.11.4
torchvision==0.15.2
tqdm==4.65.0
transformers==4.27.3
triton==2.0.0
typing-inspect==0.9.0
typing_extensions==4.6.3
urllib3==2.0.3
uvicorn==0.23.1
wandb==0.14.0
xformers==0.0.20
zipp==3.15.0
